page-scanqrcode {

}

	.imageprofile{
		width:200px;
		margin-left:auto; 
		margin-right:auto;
		margin-bottom: 20px;
		border:2px solid white;
		background-color:white;
		border-radius: 99px;
		overflow: hidden;
	}
