<ion-header>
  <ion-navbar>
  	 <ion-buttons left>
  		<button ion-button menuToggle>
  			<ion-icon name="menu"></ion-icon>
  		</button>
  	</ion-buttons>
    <ion-buttons right>
      <button ion-button icon-only *ngIf="isPLAY" (click)="play()">
        <ion-icon name="megaphone"></ion-icon>
      </button>
      <button ion-button icon-only *ngIf="!isPLAY" (click)="stop()">
        <ion-icon name="pause"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Panic</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
	<ion-row >
		<ion-col>
			<div id="mapborder">
			<agm-map [latitude]="location.lat" 
					 [longitude]="location.lng" 
					 [zoom]="16"
					 (mapClick)="onSetMarker($event)" text-center>
					<agm-marker [latitude]="marker.lat"
								[longitude]="marker.lng"
								*ngIf="marker">		
					</agm-marker>
			 </agm-map>
			</div>
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col>
			<button ion-button id="btnmode1" block color="accept" (click)="smsContact()" [disabled]="!locationIsSet"><ion-icon name="send"></ion-icon><ion-label>Send Panic SMS</ion-label></button>
		</ion-col>
	</ion-row>
 <ion-fab bottom left>
  <button ion-fab color="locateme" id="btnmode" block (click)="onLocate()"><ion-icon name="locate"></ion-icon></button>
  </ion-fab>
</ion-content>
