page-ncontact {

}

.formcontact{
	background-color:white;
	border:1px solid grey;
	border-radius:10px;
}

.formcontactupper{
	border-radius:10px 10px 0 0;
}

.formcontactlower{
	border-radius:0 0 10px 10px;
}